body
{
    margin: 0px;
    background-color: #EBF0F0;
    font-family: Arial, Helvetica, sans-serif;
}
header
{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E64B3C;  
}
h1
{
    color: #ffffff;
}
.Cards
{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-inline: 15%;
}
#Cards
{
    margin: 10px;
    background-color: #ffffff;
    max-width: 350px;
}
h2
{
    color: #E64B3C;
}
div
{
    padding: 20px;
}
img
{
    width: 100%;
}