body
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:  #E0E2E8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p
{
    margin: 10px 290px;
    padding: 15px 0px ;
    border-top: 2px solid grey;
    text-align: center;
}
a
{
    color: #36A23E;
}
span
{
    border-top:1px solid;
    border-bottom: 1px solid;
}
span:first-child
{
    border-left: 1px solid;
}
span:last-child
{
    border-right: 1px solid;
}
span:nth-child(3n+1)
{
    color: #36A23E;
}
span:nth-child(3n+2)
{
    color:  #ff6633;
}
span:nth-child(3n+3)
{
    color: #cc0066;
}