body
{
    font-family: monospace;
    flex-wrap: wrap;
}
header
{
    display: flex;
    align-items: baseline;
    gap: 15px;
}
h1
{
    color: #008CBA;
}
.header
{
    font-style: italic;
    border-radius: 5px;
    padding: 0px 5px;
    background-color: #D3D3D3;
    font-size: small;
    color: black;
}
td,th
{
    border: 1px solid;
}
table
{
    border: solid gray;
}
button
{
    margin: 10px 0px;
    padding: 15px 25px;
    border-radius: 10px;
    color: white;
    border: none;
    font-size: 17px;
}
#populaire
{
    background-color: #008CBA;
}
#regardé
{
    background-color: #4caf50;
}
#Croissance
{
    background-color: #555555;
}

span
{
    background-color: #4caf50;
    color: white;
    padding: 0 6px;
}
.pseudo
{
    margin-left: 10px;
    background-color: #008CBA;
    color: white;
}
th
{
    background-color: #eee;
}
