body
{
    margin :0;
    min-height: 100vh;
    background-color:#5C94FC; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main
{
    width: 80%;
    height: 80lvh;
    border: 4px solid;
}
div
{
    margin: -4px ;  
    border: 4px solid;
    height: 25%;
}
.one
{
    width: 25%;
    background-color: #4976C9 ;
}
.deux
{
    width: 50%;
    background-color:  #375897;
}
.trois
{
    width: 75%;
    background-color: #243B64;
}
.quatre
{
    background-color:  #121D32;
}